<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Job Digest for job <<jobid:0>></title>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="/avroconnect/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/avroconnect/js/report.js"></script>
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>

<body>
<center>
<h1>Digest for job <<jobid:0>></h1>

<table>
<tr><td>User:</td><td> <<username:none>></td>        <td width="5%">&nbsp;</td><td>Command:</td><td><<cmd:unknown>></td></tr>
<tr><td>Nodes:</td><td> <<nodesstr:none>></td>       <td width="5%">&nbsp;</td><td>CPU count:</td><td><<np:unknown>></td></tr>
<tr><td>Started:</td><td> <<startstr:none>></td>     <td width="5%">&nbsp;</td><td>Queued:</td><td><<queuedstr:unknown>></td></tr>
<tr><td>Ended:</td><td> <<endstr:none>></td>         <td width="5%">&nbsp;</td><td>Wait time:</td><td><<waitstr:unknown>></td></tr>
<tr><td>CPU*Hours:</td><td> <<cpuhours:unknown>></td><td width="5%">&nbsp;</td><td>Run time:</td><td><<runstr:unknown>></td></tr>
</table>
</center>

<h4 class="filename" id="cpu_request"></h4>

<div><request id="cpu_request" file="analyze_cpu_tpl2~start_0!thenodeslist_none!end_0!nodes_none" chart="LineChart" title="CPU usage for job" isStacked="true" hasLabelsColumn="true" color="cheb" strictFirstColumnType="false" /></div>

<h4 class="filename" id="mem_request"></h4>

<div><request id="mem_request" file="analyze_mem_tpl2~start_0!thenodeslist_none!end_0!nodes_none" chart="LineChart" title="Free memory for job" isStacked="true" hasLabelsColumn="true" color="cheb" strictFirstColumnType="false" /></div>

<h4 class="filename" id="ib_request"></h4>

<div><request id="ib_request" file="analyze_ib_tpl2~start_0!thenodeslist_none!end_0!nodes_none" chart="LineChart" title="IB data sent" isStacked="true" hasLabelsColumn="true" color="cheb" strictFirstColumnType="false" /></div>

<h4 class="filename" id="swap_request"></h4>

<div><request id="swap_request" file="analyze_swap_tpl2~start_0!thenodeslist_none!end_0!nodes_none" chart="LineChart" title="Memory swapped" isStacked="true" hasLabelsColumn="true" color="cheb" strictFirstColumnType="false" /></div>
</body>
</html>
