<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Job Digest for job 217691</title>
<script type="text/javascript" src="/avroconnect/js/jquery.js"></script>
<script type="text/javascript" src="/avroconnect/js/highcharts.js"></script>
<script type="text/javascript" src="/avroconnect/js/report-high.js"></script>
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>
<body>

<h4 class="filename" id="eth_request"></h4>
<request id="eth_request" file="analyze_eth_sample" indexed="true" names="avg_in,max_in,min_in,avg_out,max_out,min_out" chart="line" color="bright" title="Ethernet traffic speed (bytes/sec)"/>

</body>
</html>
