<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
<title><<date: >> Статистика запусков задач пользователей СКЦ МГУ</title>
<script type="text/javascript" src="/avroconnect/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/avroconnect/js/highcharts.js"></script>
<script type="text/javascript" src="/avroconnect/js/report_lib.js"></script>
<script type="text/javascript" src="/avroconnect/js/report.js"></script>
<script type="text/javascript" src="/avroconnect/js/custom_functions.js"></script>
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>
<body>
<div id="messages"></div>

<h3>2.2.3 Распределение числа выполненных задач по месяцам с начала года</h3>

<div class='toggable'><request id="heatmap_test" file="analyze_cpu_heatmap~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="gg" chart="hmap" color="bright"  title="Heatmap testing chart" step="true"  /></div>
</div>


<p></p>
</body>
</html>
