<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Информация о задаче № <<filename: >> пользователя <<user: >></title>
<script type="text/javascript" src="/avroconnect/js/jquery.js"></script>
<script type="text/javascript" src="/avroconnect/js/highcharts.js"></script>
<script type="text/javascript" src="/avroconnect/js/report_lib.js"></script>
<script type="text/javascript" src="/avroconnect/js/report.js"></script>
<script type="text/javascript" src="/avroconnect/js/math-functions.js"></script>
<script type="text/javascript" src="/avroconnect/js/custom_functions.js"></script>
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>
<body>
<div align='center'><h1>Информация о задаче №  <<filename: >> пользователя <<user: >></h1></div>
<table width='100%'>
<tr>
<td style='vertical-align: top;' width='50%'>
<table>
<tr><td colspan=2 class='first_td'><b>Информация о запуске</b></td></tr>
<tr><td>Строка запуска:</td><td><<run_str: >></td></tr>
<tr><td>Число ядер:</td><td><<num_cores: >></td></tr>
<tr><td>Номера узлов:</td><td><<nodes_short: >></td></tr>
<tr><td>Дата постановки в очередь:</td><td><<queue_date: >> (<<queue_time: >>)</td></tr>
<tr><td>Дата запуска:</td><td><<start_date: >> (<span id="start_time"><<start_time: >></span>)</td></tr>
<tr><td>Дата окончания счета:</td><td><<end_date: >> (<span id="end_time"><<end_time: >></span>)</td></tr>
<tr><td>Время счета:</td><td><<run_time_str:  >></td></tr>
<tr><td>Время ожидания:</td><td><<wait_time_str:  >></td></tr>
<tr><td>Количество процессорочасов(ядра*часы):</td><td><<core_hours:  >></td></tr>
</table>
<table style='margin-top: 30px;'>
<tr><td colspan=2 class='first_td'><b>Интегральная информация о свойствах задачи</b></td></tr>
<tr><td>Средняя загрузка ядра:</td><td>
<request id="avg_cpu_request" file="analyze_cpu_tpl_avg~start_0!thenodeslist_none!end_0!nodes_none" short="true"  chart="Number" title="" />%
</td></tr>
<tr><td>Средняя загрузка сети Ethernet (in):</td><td>
<request id="avg_eth_in_request" file="analyze_eth_in_tpl_avg~start_0!thenodeslist_none!end_0!nodes_none" short="true"  chart="Number" title="" /> МБ/сек
</td></tr>
<tr><td>Средняя загрузка сети Infiniband (in):</td><td>
<request id="avg_ib_in_request" file="analyze_ib_in_tpl_avg~start_0!thenodeslist_none!end_0!nodes_none" short="true"  chart="Number" title="" /> МБ/сек
</td></tr>
<tr><td>Средняя загрузка сети Ethernet (out):</td><td>
<request id="avg_eth_out_request" file="analyze_eth_out_tpl_avg~start_0!thenodeslist_none!end_0!nodes_none" short="true"  chart="Number" title="" /> МБ/сек
</td></tr>
<tr><td>Средняя загрузка сети Infiniband (out):</td><td>
<request id="avg_ib_out_request" file="analyze_ib_out_tpl_avg~start_0!thenodeslist_none!end_0!nodes_none" short="true"  chart="Number" title="" /> МБ/сек
</td></tr>
<tr><td>Средний размер использованного свопа (in):</td><td>
<request id="avg_swap_request" file="analyze_swap_in_tpl_avg~start_0!thenodeslist_none!end_0!nodes_none" short="true"  chart="Number" title="" /> МБ
</td></tr>
<tr><td>Число ошибок SMART:</td><td>
<div id='avg_smart_request'><span>0</span> (not working)</div>
</td></tr>
</table>
</td>
<!--
<td  align='right' style='vertical-align: top;'>
<table>
<tr><td colspan=4 class='first_td'><b>Информация о запуске</b></td></tr>
<tr><td colspan=2>Строка запуска:</td><td colspan=2><<cmd:unknown>></td></tr>
<tr><td>Номера узлов:</td><td> <<nodesstr:none>></td><td>Число ядер:</td><td><<np:unknown>></td></tr>
<tr><td>Дата запуска:</td><td> <<startstr:none>></td><td>Дата постановки в очередь:</td><td><<queuedstr:unknown>></td></tr>
<tr><td>Дата окончания счета:</td><td> <<endstr:none>></td><td>Время ожидания:</td><td><<waitstr:unknown>></td></tr>
<tr><td>Количество процессорочасов(ядра*часы):</td><td> <<cpuhours:unknown>></td><td>Время счета:</td><td><<runstr:unknown>></td></tr>
</table>
</td> !-->
<td style='vertical-align: top;'>
<table width='100%'>
<tr><td class='first_td'><b>Найденные признаки неэффективности</b></td></tr>
<tr id='f0' class='feats'><td>- Средняя загрузка процессора (<span id='avg_cpu_val'></span>%) меньше установленного порога в <span id='avg_cpu_val_thr'></span>%.</td></tr>
<tr id='f1' class='feats'><td>- Средняя загрузка сети Ethernet (in) (<span id='avg_eth_in_val'></span> МБ/сек) больше установленного порога в <span id='avg_eth_in_val_thr'></span> МБ/сек.</td></tr>
<tr id='f2' class='feats'><td>- Средняя загрузка сети Infiniband (in) (<span id='avg_ib_in_val'></span>МБ/сек) больше установленного порога в <span id='avg_ib_in_val_thr'></span> МБ/сек.</td></tr>
<tr id='f3' class='feats'><td>- Средняя загрузка сети Ethernet (out) (<span id='avg_eth_out_val'></span> МБ/сек) больше установленного порога в <span id='avg_eth_out_val_thr'></span> МБ/сек.</td></tr>
<tr id='f4' class='feats'><td>- Средняя загрузка сети Infiniband (out) (<span id='avg_ib_out_val'></span> МБ/сек) больше установленного порога в <span id='avg_ib_out_val_thr'></span> МБ/сек.</td></tr>
<tr id='f5' class='feats'><td>- Использование свопа.</td></tr>
<tr id='f6' class='feats'><td>- Найдены ошибки SMART.</td></tr>
</table>
<br>
<form name='form1' action='javascript:feats();' method='get'>
<table width='100%'  style='font-size: smaller;'>
<tr><td colspan=4 class='first_td'><b>Пороги для поиска признаков неэффективности</b></td></tr>
<tr><td><input type='checkbox' id='ch0'> Загрузка процессора < <input id='avg_cpu_thr' type='text' size='3' value='20'> %.</td></tr>
<tr><td><input type='checkbox' id='ch1'> Средняя загрузка сети Ethernet (in) > <input id='avg_eth_in_thr' type='text' size='5' value='1'> МБ/сек.</td></tr>
<tr><td><input type='checkbox' id='ch2'> Средняя загрузка сети Infiniband (in) > <input id='avg_ib_in_thr' type='text' size='5' value='1'> МБ/сек.</td></tr>
<tr><td><input type='checkbox' id='ch3'> Средняя загрузка сети Ethernet (out) > <input id='avg_eth_out_thr' type='text' size='4' value='1'> МБ/сек.</td></tr>
<tr><td><input type='checkbox' id='ch4'> Средняя загрузка сети Infiniband (out) > <input id='avg_ib_out_thr' type='text' size='4' value='1'> МБ/сек.</td></tr>
<tr><td><input type='checkbox' id='ch5'> Использование свопа.</td></tr>
<tr><td><input type='checkbox' id='ch6'> Найдены ошибки SMART.</td></tr>
<tr><td><input type='checkbox' id='ch7' onclick='check_all()' title='Отметить все'></td></tr>
<tr><td><input type='submit' value='Найти признаки'></td></tr>
</form>
</table>
</td>
</tr>
</table>
<br><br>
<!--div class='div_req'><_re quest id="full_cpu_request" file="analyze_cpu_tpl8~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред,макс,мин" chart="column" color="bright"  title="Загрузка процессора в %"  /></div-->
<div class='toggable'><request id="cpu_request" file="analyze_cpu_tpl8~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред,макс,мин" chart="line" color="bright"  title="Загрузка процессора в %" step="true"  /></div>
<div class='toggable'><request id="cpu_flops_request" file="analyze_cpu_flops_tpl8~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред,макс,мин" chart="line" color="bright" title=" Количество операций с плавающей точкой в секунду" step="true"  /></div>
<div class='toggable'><request id="cpu_cache_l2_lines_in_request" file="analyze_cpu_cache_l2_lines_in_tpl8~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред,макс,мин" chart="line" color="bright" title=" Количество кэш-промахов L2 в секунду" step="true"  /></div>
<div class='toggable'><request id="eth_request" file="analyze_eth_tpl8~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред_перед,макс_перед,мин_перед,сред_получ,макс_получ,мин_получ" chart="line" color="bright" title="Скорость передачи данных по сети Ethernet (байт/сек)" step="true" /></div>
<div class='div_req'>
<request id="rcv_pack_eth_request" file="analyze_ext_eth_packets_in~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред,макс,мин" chart="line" color="bright" title="Число полученных пакетов по сети Ethernet"  />
</div>
<div class='div_req'>
<request id="xmit_pack_eth_request" file="analyze_ext_eth_packets_out~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред,макс,мин" chart="line" color="bright" title="Число переданных пакетов по сети Ethernet"  />
</div>
<div class='toggable'><request id="ib_request" file="analyze_ib_tpl8~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред_получ,макс_получ,мин_получ,сред_перед,макс_перед,мин_перед" chart="line" color="bright" title="Скорость передачи данных по сети Infiniband (байт/сек)" step="true" /></div>
<div class='div_req'>
<request id="rcv_pack_ib_request" file="analyze_ext_ib_packets_in~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред,макс,мин" chart="line" color="bright" title="Число полученных пакетов по сети Infiniband"  />
</div>
<div class='div_req'>
<request id="xmit_pack_ib_request" file="analyze_ext_ib_packets_out~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред,макс,мин" chart="line" color="bright" title="Число переданных пакетов по сети Infiniband"  />
</div>


<div class='toggable'><request id="disk_bytes_request" file="analyze_disk_bytes_tpl8~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред_получ,макс_получ,мин_получ,сред_перед,макс_перед,мин_перед" chart="line" color="bright" title="Скорость обмена данными с диском (байт/сек)" step="true" /></div>
<div class='toggable'><request id="disk_ops_request" file="analyze_disk_ops_tpl8~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред_получ,макс_получ,мин_получ,сред_перед,макс_перед,мин_перед" chart="line" color="bright" title="Скорость обмена данными с диском (операций/сек)" step="true" /></div>


<div class='toggable'><request id="loadavg_request" file="analyze_ext_la~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="макс_loadavg,сред_loadavg,мин_loadavg" chart="line" color="bright" title="Значение LoadAvg" step="true" /></div>

<!-- <div class='div_req'><re quest id="mem_request" file="analyze_mem_tpl8~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред,макс,мин" chart="line" color="bright" title="Объем сводобной памяти (байт)" /></div> -->
<div class='toggable'><request id="swap_request" file="analyze_swap_tpl8~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="мин,сред,макс" chart="line" color="bright" title="Объем используемой своп-памяти (байт)" step="true" /></div>
<!-- <div class='div_req'><re quest id="eth_err_request" file="analyze_ext_eth_err~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред_получ,макс_получ,мин_получ,сред_перед,макс_перед,мин_перед" chart="line" color="bright" title="Число ошибок в сети Ethernet (ошибок/сек)" /></div> -->
<!-- <div class='div_req'><re quest id="eth_drop_err_request" file="analyze_ext_eth_drop~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред_получ,макс_получ,мин_получ,сред_перед,макс_перед,мин_перед" chart="line" color="bright" title="Число сброшенных пакетов в сети Ethernet (пакетов/сек)" /></div> -->
<!-- <div class='div_req'><re quest id="ib_err_request" file="analyze_ext_ib_err~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред_получ,макс_получ,мин_получ,сред_перед,макс_перед,мин_перед" chart="line" color="bright" title="Число ошибок в сети Infiniband (ошибок/сек)" /></div> -->
<br />
&nbsp;
</body>
</html>
