<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Информация о задаче № <<filename: >> пользователя <<user: >></title>
<script type="text/javascript" src="/avroconnect/js/jquery.js"></script>
<script type="text/javascript" src="/avroconnect/js/highcharts.js"></script>
<script type="text/javascript" src="/avroconnect/js/report-high.js"></script>
<!--script type="text/javascript" src="/avroconnect/js/math-functions.js"></script-->
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>

<body>
<div align='center'><h1>Информация о задаче №  <<filename: >> пользователя <<user: >></h1></div>
<table style='margin-left: 30%; vertical-align: top;'>
<tr><td colspan=2 class='first_td'><b>Информация о запуске</b></td></tr>
<tr><td>Строка запуска:</td><td><<run_str: >></td></tr>
<tr><td>Число ядер:</td><td><<num_cores: >></td></tr>
<tr><td>Номера узлов:</td><td><<nodes_short: >></td></tr>
<tr><td>Дата постановки в очередь:</td><td><<queue_date: >> (<<queue_time: >>)</td></tr>
<tr><td>Дата запуска:</td><td><<start_date: >> (<span id="start_time"><<start_time: >></span>)</td></tr>
<tr><td>Дата окончания счета:</td><td><<end_date: >> (<span id="end_time"><<end_time: >></span>)</td></tr>
<tr><td>Время счета:</td><td><<run_time_str:  >></td></tr>
<tr><td>Время ожидания:</td><td><<wait_time_str:  >></td></tr>
<tr><td>Количество процессорочасов(ядра*часы):</td><td><<core_hours:  >></td></tr>
</table>
<br><br>
<div class='toggable'><request id="cpu_request" file="analyze_graph_cpu_tpl8~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред,макс,мин" chart="line" color="bright" theme="yes" title="Загрузка процессора в %" step="true"  /></div>
<div class='toggable'><request id="cpu_flops_request" file="analyze_graph_cpu_flops_tpl8~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред,макс,мин" chart="line" color="bright" theme="yes" title=" Количество операций с плавающей точкой в секунду" step="true"  /></div>

<div class='toggable'><request id="cpu_l1_request" file="analyze_graph_cpu_l1~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред,макс,мин" chart="line" color="bright" theme="yes" title=" Количество кэш-промахов L1 в секунду" step="true"  /></div>
<div class='toggable'><request id="cpu_cache_l2_lines_in_request" file="analyze_graph_cpu_cache_l2_lines_in_tpl8~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред,макс,мин" chart="line" color="bright" theme="yes" title=" Количество кэш-промахов L2 в секунду" step="true"  /></div>
<div class='toggable'><request id="cpu_llc_request" file="analyze_graph_cpu_llc~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред,макс,мин" chart="line" color="bright" theme="yes" title=" Количество промахов в кэш последнего уровня в секунду" step="true"  /></div>

<div class='toggable'><request id="loadavg_request" file="analyze_graph_ext_la~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред_loadavg,макс_loadavg,мин_loadavg" chart="line" theme="yes" color="bright" title="Значение LoadAvg" step="true" /></div>

<!-- <div class='div_req'><re quest id="mem_request" file="analyze_graph_mem_tpl8~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред,макс,мин" chart="line" theme="yes" color="bright" title="Объем сводобной памяти (байт)" /></div> -->
<!-- <div class='div_req'><re quest id="eth_err_request" file="analyze_graph_ext_eth_err~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред_получ,макс_получ,мин_получ,сред_перед,макс_перед,мин_перед" chart="line" theme="yes" color="bright" title="Число ошибок в сети Ethernet (ошибок/сек)" /></div> -->
<!-- <div class='div_req'><re quest id="eth_drop_err_request" file="analyze_graph_ext_eth_drop~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред_получ,макс_получ,мин_получ,сред_перед,макс_перед,мин_перед" chart="line" theme="yes" color="bright" title="Число сброшенных пакетов в сети Ethernet (пакетов/сек)" /></div> -->
<!-- <div class='div_req'><re quest id="ib_err_request" file="analyze_graph_ext_ib_err~start_0!thenodeslist_none!end_0!nodes_none" indexed="true" names="сред_получ,макс_получ,мин_получ,сред_перед,макс_перед,мин_перед" chart="line" theme="yes" color="bright" title="Число ошибок в сети Infiniband (ошибок/сек)" /></div> -->
</body>
</html>
