<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Weekly report</title>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>	
<script type="text/javascript" src="/avroconnect/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/avroconnect/js/report.js"></script>
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>

<body>
<h1>Weekly report</h1>

<h4 class="filename" id="request01"></h4>
<div id="chart_div01" style="overflow:hidden;width:100%;"><request id="01" file="avgwaittime_lastweek~sys_cheb" chart="ColumnChart" title="Average waittime in queue on Chebyshev last 7 days"/></div>

<h4 class="filename" id="request03"></h4>
<div id="chart_div02" style="overflow:hidden;width:100%;"><request id="03" file="avgwaittime_lastweek~sys_lom" chart="ColumnChart" title="Average waittime in queue on Lomonosov last 7 days"/></div>

<h4 class="filename" id="request05"></h4>
<div id="chart_div03" style="overflow:hidden;width:100%;"><request id="05" file="avgwaittime_lastweek~sys_gra" chart="ColumnChart" title="Average waittime in queue on GraphIt! last 7 days"/></div>

</body>
</html>
