<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
<title><<date: >> Статистика запусков задач пользователей СКЦ МГУ</title>
<script type="text/javascript" src="/avroconnect/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/avroconnect/js/highcharts.js"></script>
<script type="text/javascript" src="/avroconnect/js/report_lib.js"></script>
<script type="text/javascript" src="/avroconnect/js/report.js"></script>
<script type="text/javascript" src="/avroconnect/js/custom_functions.js"></script>
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>
<body>
<div id="messages"></div>

<h3>2.2.3 Распределение числа выполненных задач по месяцам с начала года</h3>
<div class="toggable">
    <request id="223c" file="month_queue_nfinished~sys_cheb!start_1325376000000!end_today" chart="column" stacking="normal" title="Number of finished tasks by month on Chebyshev since 01.01.2012" vaxis="jobs" color="cheb"  source="txt" descr="true"></request>
    <request id="223l" file="month_queue_nfinished~sys_lom!start_1325376000000!end_today" chart="column" stacking="normal" title="Number of finished tasks by month on Lomonosov since 01.01.2012" vaxis="jobs" color="lom"  source="txt" descr="true"></request>
</div>


<h3>4.1.2. Распределение задач по числу процессоров по месяцам с начала года</h3>
<div class="toggable">
  <request id="412c" file="month_cpuclass_ntasks~sys_cheb!start_1325376000000!end_today" chart="column" title="Number of tasks in CPU class by months on Chebyshev since 01.01.2012" color="cheb" stacking="normal"  source="txt" descr="true"></request>
  <request id="412l" file="month_cpuclass_ntasks~sys_lom!start_1325376000000!end_today" chart="column" title="Number of tasks  in CPU class by months on Lomonosov since 01.01.2012" color="lom" stacking="normal" source="txt" descr="true" ></request>
 
</div>

<p></p>
</body>
</html>
