<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Weekly report - Users</title>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>	
<script type="text/javascript" src="/avroconnect/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/avroconnect/js/report.js"></script>
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>

<body>
<h1>Weekly report <<date:1.1.1970 >></h1>


<h3>3.1.5a распределение числа уникальных пользователей, запустивших или поставивших в очередь задачи, по дням недели с начала года</h3>

<h4 class="filename" id="request315ac"></h4>
<div class="chart_container"><request id="315ac" file="users_queueorrunning_weekdays~sys_cheb" chart="ColumnChart" title="Number of users running or queueing jobs on Chebyshev per week days  since 01.01.2012" isStacked="true" hasLabelsColumn="true" color="cheb"/></div>

<h4 class="filename" id="request315al"></h4>
<div class="chart_container"><request id="315al" file="users_queueorrunning_weekdays~sys_lom" chart="ColumnChart" title="Number of users running or queueing jobs on Lomonosov per week days since 01.01.2012" hasLabelsColumn="true" isStacked="true" color="lom"/></div>

<h4 class="filename" id="request315ag"></h4>
<div class="chart_container"><request id="315ag" file="users_queueorrunning_weekdays~sys_gra" chart="ColumnChart" title="Number of users running or queueing jobs on GraphIt! per week days since 01.01.2012" hasLabelsColumn="true" isStacked="true" color="gra"/></div>


</body>
</html>
