<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
<title><<date: >> Статистика запусков задач пользователей СКЦ МГУ</title>
<script type="text/javascript" src="/avroconnect/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/avroconnect/js/highcharts.js"></script>
<script type="text/javascript" src="/avroconnect/js/report_lib.js"></script>
<script type="text/javascript" src="/avroconnect/js/report.js"></script>
<script type="text/javascript" src="/avroconnect/js/custom_functions.js"></script>
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>
<body>
<h1>Статистика запусков задач пользователей СКЦ МГУ на <<enddate:today>>. Годовая статистика исчисляется с <<startdate:1325376000000>>*</h1>
<h3>* время в миллисекундах с 1.1.1970 00:00. Часовые пояса не учитываются.</h3>
<div id="messages"></div>

<div class="toggable">  



<request id="10c" file="dates-avgwaittime~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Average waittime in queue on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" stacking="normal" color="cheb" vaxis="waittime (sec)" descr="true" source="txt" baseURL="http://spreadsheets.google.com/tq?tqx=out:html&key=0Aq-sgeVXult3dHJVM1VkM0VhWldGN2NBcU0xcWdXeFE"></request>
</div>

<p></p>
</body>
</html>
