<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
<title><<date: >> Job batch system weekly report</title>
<script type="text/javascript" src="/avroconnect/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/avroconnect/js/highcharts.js"></script>
<script type="text/javascript" src="/avroconnect/js/report-high-m.js"></script>
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>
<body>
<h1>Weekly job batch system report <<date: >></h1>

<h3>3.1.4a Распределение числа уникальных пользователей, запустивших или поставивших в очередь задачи, по месяцам с начала года</h3>
<div class="toggable">
  <request id="314ac" file="users_queueorrunning_month~sys_cheb" chart="column" title="Number of users running or queueing jobs on Chebyshev per month  since 01.01.2012" stacking="normal" color="cheb"></request>
  <request id="314al" file="users_queueorrunning_month~sys_lom" chart="column" title="Number of users running or queueing jobs on Lomonosov per month since 01.01.2012" stacking="normal" color="lom"></request>
  <request id="314ag" file="users_queueorrunning_month~sys_gra" chart="column" title="Number of users running or queueing jobs on GraphIt! per month since 01.01.2012" stacking="normal" color="gra"></request>
</div>
<h3>3.1.5a Распределение числа уникальных пользователей, запустивших или поставивших в очередь задачи, по дням недели с начала года</h3>
<div class="toggable">
  <request id="315ac" file="users_queueorrunning_weekdays~sys_cheb" chart="column" title="Number of users running or queueing jobs on Chebyshev per week days  since 01.01.2012" stacking="normal" color="cheb"></request>
  <request id="315al" file="users_queueorrunning_weekdays~sys_lom" chart="column" title="Number of users running or queueing jobs on Lomonosov per week days since 01.01.2012" stacking="normal" color="lom"></request>
  <request id="315ag" file="users_queueorrunning_weekdays~sys_gra" chart="column" title="Number of users running or queueing jobs on GraphIt! per week days since 01.01.2012" stacking="normal" color="gra"></request>
</div>
<p></p>
</body>
</html>
