<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Weekly report</title>

<script type="text/javascript" src="/avroconnect/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/avroconnect/js/highcharts.js"></script>
<script type="text/javascript" src="/avroconnect/js/report-high.js"></script>

<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>

<body>
<h1>Weekly report - highcharts</h1>



<h3>4.1.3. Распределение задач по числу процессоров по дням недели с начала года</h3>

<request id="413c" file="wday_cpuclass_ntasks~sys_cheb!start_today-1!end_today" chart="column" title="Number of tasks in CPU class by months on Chebyshev since 01.01.2012" color="cheb" stacking="normal" />

<request id="413l" file="wday_cpuclass_ntasks~sys_lom!start_today-2!end_today" chart="column" title="Number of tasks  in CPU class by months on Lomonosov since 01.01.2012" color="lom" stacking="normal" />


<h3>распределение времени ожидания всех задач по дням недели с начала года</h3>
<request id="07" file="day_avg_wait_time_wdays~sys_cheb!start_today-1!end_today" chart="column" title="Average wait time on week days on Chebyshev since 01.01.2012" color="cheb" stacking="normal" useFirstColumnAsDomain="true" vaxis="waittime (sec)"/>

<request id="08" file="day_avg_wait_time_wdays~sys_lom!start_today-2!end_today" chart="column" title="Average wait time on week days on Lomonosov since 01.01.2012" color="lom" vaxis="waittime (sec)" stacking="normal" useFirstColumnAsDomain="true"/>




</body>
</html>
