<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
<title><<date: >> statistics</title>
<script type="text/javascript" src="/avroconnect/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/avroconnect/js/highcharts.js"></script>
<script type="text/javascript" src="/avroconnect/js/report_lib.js"></script>
<script type="text/javascript" src="/avroconnect/js/report.js"></script>
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>
<body>
<h1>Statistics report. <<date: >></h1>

<h3>Top <<n:15>> users for last <<days:28>> days</h3>
<div class="toggable"><request id="23c" file="top_users_CPU_time~sys_lom!start_today-<<days:28>>!top_30" chart="pie" title="Top <<n:15>> users by total CPU time on Lomonosov last <<days:28>> days" color="lom" source="txt" descr="true"></request></div>
<p></p>
</body>
</html>
