<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
<title><<date: >> Статистика запусков задач пользователей СКЦ МГУ</title>
<script type="text/javascript" src="/avroconnect/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/avroconnect/js/highcharts.js"></script>
<script type="text/javascript" src="/avroconnect/js/report_lib.js"></script>
<script type="text/javascript" src="/avroconnect/js/report.js"></script>
<script type="text/javascript" src="/avroconnect/js/custom_functions.js"></script>
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>
<body>
<h1>Статистика запусков задач пользователей СКЦ МГУ с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h1>

<div id="messages"></div>

<h3>Периоды отсутствия данных</h3>

<div class="toggable">  
  <request id="0c" file="empty_data~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" title="No log data periods on Chebyshev" stacking="normal" color="cheb" vaxis="no data period length (sec)" baseURL="http://spreadsheets.google.com/tq?tqx=out:html&key=0Aq-sgeVXult3dHJVM1VkM0VhWldGN2NBcU0xcWdXeFE" descr="true" source="txt"></request>
  
  <request id="0l" file="empty_data~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" title="No log data periods on Lomonosov" stacking="normal" color="lom" vaxis="no data period length (sec)" descr="true"></request> 
</div>


<h3>Распределение времени ожидания всех задач по дням недели с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
  <request id="07" file="day_avg_wait_time_wdays~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Average wait time on week days on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="cheb"  useFirstColumnAsDomain="true" vaxis="waittime (sec)" descr="true" source="txt"></request>
    
  <request id="08" file="day_avg_wait_time_wdays~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Average wait time on week days on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="lom" vaxis="waittime (sec)" useFirstColumnAsDomain="true" descr="true" source="txt"></request>  
</div>

<h3>Распределение среднего времени ожидания по очередям с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
  <request id="10c" file="dates-avgwaittime~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Average waittime in queue on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" stacking="normal" color="cheb" vaxis="waittime (sec)" descr="true" source="txt"></request>
        
  <request id="10l" file="dates-avgwaittime~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Average waittime in queue on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" stacking="normal" color="lom" vaxis="waittime (sec)" descr="true" source="txt"></request>

</div>
<h3>Среднее время ожидания пользователей в основных очередях с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
  <request id="105c" file="regular_user_avgwait~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" labelRotation="-45" 
  		title="Average wait time in main queue on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>> (top 30)" vaxis="wait time (sec)" color="cheb" descr="true" source="txt"></request>
        
  <request id="105l" file="regular_user_avgwait~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" labelRotation="-45" 
  		title="Average wait time in main queue on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>> (top 30)" vaxis="wait time (sec)" color="lom"  descr="true"></request>
</div>
<h3>Среднее время ожидания классов задач по количеству процессоров в основных очередях с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
  <request id="104c" file="regular_cpuclass_avgwait~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column"  
  		title="Average wait time in main queue on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" vaxis="wait time (sec)" color="cheb"  source="txt" descr="true" function="class_waittime" arguments="10000,Chebyshev"></request>
        
  <request id="104l" file="regular_cpuclass_avgwait~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Average wait time in main queue on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" vaxis="wait time (sec)" color="lom" source="txt" descr="true" function="class_waittime" arguments="10000,Lomonosov"></request>
</div>

<h2>2. Сколько задач в среднем находится в очереди на исполнение</h2>

<h3>Распределение числа задач ожидающих исполнения по месяцам с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">

  <request id="15c" file="dates-avgquelength_months~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Month average queue length on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" stacking="normal" color="cheb" vaxis="jobs" source="txt" descr="true"></request>
        
  <request id="15l" file="dates-avgquelength_months~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Month average queue length on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" stacking="normal" color="lom" vaxis="jobs" source="txt" descr="true"></request>
</div>

<h3>Распределение числа задач ожидающих исполнения по дням недели с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>

<div class="toggable">

  <request id="17c" file="dates-avg_queue_length_weekdays_year~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Weekday average queue length on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" stacking="normal" color="cheb" vaxis="jobs" source="txt" descr="true"></request>
        
  <request id="17l" file="dates-avg_queue_length_weekdays_year~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Weekday average queue length on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" stacking="normal" color="lom" vaxis="jobs" source="txt" descr="true"></request>
</div>

<h3>Распределение числа задач ожидающих исполнения по времени суток с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
    <request id="18c" file="dates-avg_queue_length_hours_year~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
    		title="Average number of jobs queued in a given hour of the day for each queue on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" stacking="normal" color="cheb" vaxis="jobs" source="txt" descr="true"></request>
            
    <request id="18l" file="dates-avg_queue_length_hours_year~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
    		title="Average number of jobs queued in a given hour of the day for each queue on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" stacking="normal" color="lom" vaxis="jobs" source="txt" descr="true"></request>
</div>


<h3>2.2.3 Распределение числа выполненных задач по месяцам с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
    <request id="223c" file="month_queue_nfinished~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" stacking="normal" 
    		title="Number of finished tasks by month on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" vaxis="jobs" color="cheb"  source="txt" descr="true"></request>
            
    <request id="223l" file="month_queue_nfinished~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" stacking="normal" 
    		title="Number of finished tasks by month on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" vaxis="jobs" color="lom"  source="txt" descr="true"></request>
</div>

<h3>2.2.4 Распределение числа выполненных задач по дням недели с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
    <request id="224c" file="wday_queue_nfinished~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" stacking="normal" 
    		title="Number of finished tasks by week day on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" vaxis="jobs" color="cheb"  source="txt" descr="true"></request>
            
    <request id="224l" file="wday_queue_nfinished~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" stacking="normal" 
    		title="Number of finished tasks by week day on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" vaxis="jobs" color="lom"  source="txt" descr="true"></request>
</div>

<h3>2.2.5 Распределение числа выполненных задач по времени суток с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
  <request id="225c" file="hour_queue_nfinished~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" stacking="normal" 
  		title="Number of finished tasks by hour on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" vaxis="jobs" color="cheb" source="txt" descr="true" ></request>
        
  <request id="225l" file="hour_queue_nfinished~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" stacking="normal" 
  		title="Number of finished tasks by hour on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" vaxis="jobs" color="lom" source="txt" descr="true" ></request>
</div>

<h2>3. Активность пользователей </h2>

<h3>3.1.1a число пользователей, задания которых запускались с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="chart_container">
  <div class="cell_3">
    <div>
      <request id="192c" file="nusers_run~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="Number" 
      		title="Number of users, who started jobs on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" source="txt" descr="true" ></request>
    </div>
  </div>
  <div class="cell_3">
    <div>
      <request id="192l" file="nusers_run~sys_lom!start_<<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="Number" 
      		title="Number of users, who started jobs on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" ></request>
    </div>
  </div>
  
</div>


<h3>3.1.4a Распределение числа уникальных пользователей, запустивших или поставивших в очередь задачи, по месяцам с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
  <request id="314ac" file="dates-users_queueorrunning_month~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Number of users running or queueing jobs on Chebyshev per month from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="cheb" source="txt" descr="true"></request>
        
  <request id="314al" file="dates-users_queueorrunning_month~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Number of users running or queueing jobs on Lomonosov per month from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="lom" source="txt" descr="true"></request>
 
</div>

<h3>3.1.5a Распределение числа уникальных пользователей, запустивших или поставивших в очередь задачи, по дням недели с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
  <request id="315ac" file="dates-users_queueorrunning_weekdays~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Number of users running or queueing jobs on Chebyshev per week days from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="cheb" source="txt" descr="true"></request>
        
  <request id="315al" file="dates-users_queueorrunning_weekdays~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Number of users running or queueing jobs on Lomonosov per week days from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="lom" source="txt" descr="true"></request>
  
</div>

<h3>Распределение числа уникальных пользователей по времени суток с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
  <request id="22c" file="users_per_hour~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Number of users running jobs on Chebyshev per day time (hours) from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" stacking="normal" color="cheb" source="txt" descr="true"></request>
        
  <request id="22l" file="users_per_hour~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Number of users running jobs on Lomonosov per day time (hours) from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" stacking="normal" color="lom" source="txt" descr="true"></request>
  
</div>

<h2>4. Сколько процессоров затребовано выполняющимися задачами? </h2>
<h3>4.1.2. Распределение задач по числу процессоров по месяцам с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
  <request id="412c" file="month_cpuclass_ntasks~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Number of tasks in CPU class by months on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="cheb" stacking="normal"  source="txt" descr="true"></request>
        
  <request id="412l" file="month_cpuclass_ntasks~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Number of tasks  in CPU class by months on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="lom" stacking="normal" source="txt" descr="true" ></request>
 
</div>
<h3>4.1.3. Распределение задач по числу процессоров по дням недели с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
  <request id="413c" file="wday_cpuclass_ntasks~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column"
		title="Number of tasks in CPU class by months on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="cheb" stacking="normal" source="txt" descr="true" ></request>
  
  <request id="413l" file="wday_cpuclass_ntasks~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Number of tasks  in CPU class by months on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="lom" stacking="normal" source="txt" descr="true" ></request>
  
</div>

<h3>4.1.4. Распределение задач по числу процессоров по времени суток с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
  <request id="414c" file="hour_cpuclass_ntasks~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Number of tasks  in CPU class by hours on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="cheb" stacking="normal" source="txt" descr="true" ></request>
  
  <request id="414l" file="hour_cpuclass_ntasks~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Number of tasks in CPU class by hours on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="lom" stacking="normal" source="txt" descr="true" ></request>
  
</div>

<h3>4.1.5. Распределение числа пользователей по среднему числу затребованных процессоров с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>>, 1-8, 9-16, 17-32, 33-64, 65-128, 129-512,  остальные</h3>
<div class="toggable">
  <request id="415c" file="users_cpuclass~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Number of users by number of requested CPUs on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="cheb" vaxis="users" source="txt" descr="true"></request>
        
  <request id="415l" file="users_cpuclass~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="column" 
  		title="Number of users by number of requested CPUs on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="lom" vaxis="users" source="txt" descr="true" ></request>
  
</div>
<h2>Топ пользователей</h2>
<h3>по истраченным процессорочасам с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">

    <request id="25c" file="top_users_CPU_time~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>!top_30" chart="pie" 
    		title="Top 30 users by total CPU time on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="cheb" function="pie_threshold" 
            arguments="10,25c,CPU time on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>"></request>
    
    <request id="25l" file="top_users_CPU_time~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>!top_30" chart="pie" 
    		title="Top 30 users by total CPU time on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="lom" function="pie_threshold" 
            arguments="12,25l,CPU time on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>"></request>
      
  
</div>
<h3>по числу запущенных заданий с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
  
     <request id="28c" file="top_users_jobs~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>!top_30" chart="pie" 
     		title="Top 30 users by jobs number on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="cheb"></request>
      
     <request id="28l" file="top_users_jobs~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>!top_30" chart="pie" 
     		title="Top 30 users by jobs number on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="lom"></request>
       
</div>

<h3>по среднему числу процессоров с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
  <request id="29c" file="dates-top_users_avgcpus~sys_cheb!top_15!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="bar" 
  		title="Top 15 users by average number of CPUs number on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="cheb" logScale="true" source="txt" descr="true" ></request>
        
  <request id="29l" file="dates-top_users_avgcpus~sys_lom!top_15!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="bar" 
  		title="Top 15 users by average number of CPUs number on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>" color="lom" logScale="true" source="txt" descr="true" ></request>
  
</div>
<h2>Распределение пользователей</h2>
<h3>по отношению времени ожидания к времени выполнения с <<startdatehm:01.01.2012>> по <<enddatehm:31.12.2012>></h3>
<div class="toggable">
  <request id="30c" file="avg_user_waittorun~sys_cheb!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="bar" 
  		title="Wait time to run time ratio average by all user jobs on Chebyshev from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>> (top 30 users)" stacking="normal" color="cheb" source="txt" descr="true"></request>
        
  <request id="30l" file="avg_user_waittorun~sys_lom!start_<<startdate:1325376000000>>!end_<<enddate:1356998399000>>" chart="bar" 
  		title="Wait time to run time ratio average by all user jobs on Lomonosov from <<startdatehm:01.01.2012>> to <<enddatehm:31.12.2012>>  (top 30 users)" stacking="normal" color="lom" source="txt" descr="true"></request>
 
</div>
<p></p>
</body>
</html>
