<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Weekly report - Users</title>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>	
<script type="text/javascript" src="/avroconnect/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/avroconnect/js/report.js"></script>
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>

<body>

<h3>распределение числа уникальных пользователей по месяцам с начала года</h3>

<h4 class="filename" id="request20c"></h4>
<div class="chart_container"><request id="20c" file="users_per_month~sys_cheb!start_1325376000000" chart="ColumnChart" title="Number of users running jobs on Chebyshev per month  from 01.01.2012" isStacked="true" hasLabelsColumn="true" color="cheb"/></div>

<h4 class="filename" id="request20l"></h4>
<div class="chart_container"><request id="20l" file="users_per_month~sys_lom!start_1325376000000" chart="ColumnChart" title="Number of users running jobs on Lomonosov per month from 01.01.2012" hasLabelsColumn="true" isStacked="true" color="lom"/></div>

<h4 class="filename" id="request20g"></h4>
<div class="chart_container"><request id="20g" file="users_per_month~sys_gra!start_1325376000000" chart="ColumnChart" title="Number of users running jobs on GraphIt! per month from 01.01.2012" hasLabelsColumn="true" isStacked="true" color="gra"/></div>



</body>
</html>
