<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Weekly report - Users</title>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>	
<script type="text/javascript" src="/avroconnect/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/avroconnect/js/report.js"></script>
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>

<body>
<h1>Weekly report</h1>

<h2>3. активность пользователей</h2>

<h3>распределение числа уникальных пользователей, поставивших задачи в очередь, по дням прошедшей недели</h3>

<h4 class="filename" id="request19l"></h4>
<div class="chart_container"><request id="19l" file="users_doing_last_week~sys_lom" chart="ColumnChart" title="Number of users queuing jobs on Lomonosov last 7 days" isStacked="true" strictFirstColumnType="false"/></div>

<h4 class="filename" id="request19"></h4>
<div class="chart_container"><request id="19" file="users_doing_last_week~sys_gra" chart="ColumnChart" title="Number of users queuing jobs on Graphit! last 7 days" isStacked="true" strictFirstColumnType="false" color="gra"/></div>

</body>
</html>
