<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Weekly report- Waittime</title>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>	
<script type="text/javascript" src="/avroconnect/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/avroconnect/js/report.js"></script>
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>

<body>
<h1>Weekly report</h1>

<h3>распределение среднего времени ожидания по очередям за последние 7 дней</h3>

<h4 class="filename" id="request01"></h4>
<div><request id="01" file="day_avg_queue_wait_time~sys_cheb!start_today-7!end_today" chart="ColumnChart" title="Average waittime in queues on Chebyshev for last 7 days" isStacked="true" strictFirstColumnType="false"  color="cheb" vaxis="waittime (sec)"/></div>


<h4 class="filename" id="request05"></h4>
<div><request id="05" file="day_avg_queue_wait_time~sys_gra!start_today-7!end_today" chart="ColumnChart" title="Average waittime in queues on GraphIt! for last 7 days" isStacked="true" strictFirstColumnType="false" color="gra"  vaxis="waittime (sec)"/></div>

</body>
</html>
