<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Weekly report- Waittime</title>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>	
<script type="text/javascript" src="/avroconnect/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/avroconnect/js/report.js"></script>
<link rel="stylesheet" type="text/css" href="/avroconnect/css/styles.css">
</head>

<body>
<h1>Weekly report</h1>
<h3>распределение числа задач ожидающих исполнения по дням прошедшей недели</h3>
<h4 class="filename" id="request14c"></h4>
<div class="chart_container"><request id="14c" file="avgquelength_lastweek~sys_cheb" chart="ColumnChart" title="Average queue length on Chebyshev last 7 days" isStacked="true" strictFirstColumnType="false"  vaxis="(jobs)"/></div>

<h4 class="filename" id="request14l"></h4>
<div class="chart_container"><request id="14l" file="avgquelength_lastweek~sys_lom" chart="ColumnChart" title="Average queue length on Lomonosov last 7 days" isStacked="true" strictFirstColumnType="false" vaxis="(jobs)" /></div>

<h4 class="filename" id="request14g"></h4>
<div class="chart_container"><request id="14g" file="avgquelength_lastweek~sys_gra" chart="ColumnChart" title="Average queue length on GraphIt! last 7 days" isStacked="true" color="gra" strictFirstColumnType="false" vaxis="(jobs)"/></div>


</body>
</html>
