@charset "utf-8";
/* CSS Document */

a {
	text-decoration:none;
	color:#0F80C7;
}

body {
	margin:0 25px 0 25px;
}

div.toggable {
	display:none;
	width:100%;
}

.empty {
	color:#777;
	font-family:Verdana, Geneva, sans-serif;
	margin: 15px 5px;
	padding:5px;
}


.error {
	color:#c33;
	font-family:Verdana, Geneva, sans-serif;
	font-style:italic;
	margin: 25px 0;
	padding:5px;
	font-size: 10px;
}

.expandButton {
	background-color:#ABB0BD;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background-image: -o-linear-gradient(90deg , rgb(166,171,184) 0%, rgb(207,210,218) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(166,171,184) 0%, rgb(207,210,218) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(166,171,184) 0%, rgb(207,210,218) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(166,171,184) 0%, rgb(207,210,218) 100%);
	background-image: linear-gradient(90deg , rgb(166,171,184) 0%, rgb(207,210,218) 100%);
	color:#fafafa;
	font-family: 'Helvetica', sans-serif;
	font-size:10pt;
	font-weight:bold;
	letter-spacing:1px;
	padding:5px 24px;
	margin:10px 0 24px 0;
	text-decoration:none;
	text-shadow: rgba(55,55,55,0.5) 0px -1px 0px;
	display:block;
	float:right;
	cursor:pointer;
}
	

	
.request_diagramm {
	display:block;
	min-height:400px;
}

h1 {
	margin-top:0;
	font-size:18pt;
}

h1, h2, h3, h4, h5 {
	font-family:Verdana, Geneva, sans-serif;
}

h2 {
	font-size: 18pt;
	font-weight:normal;
}

h3 {
	font-size:13pt;
	font-weight:normal;
	margin:14px 0 0 0px;
	padding: 0 25px 0 0px;
}
h3.toggable {
	display: block;
	height: 30px;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 10pt;
	margin: 15px 0 -2px 0;

	background-color: #ABB0BD;
	-moz-box-shadow:inset 0px 0px 1px rgba(121,123,130,1);
	-webkit-box-shadow:inset 0px 0px 1px rgba(121,123,130,1);
	box-shadow:inset 0px 0px 1px rgba(121,123,130,1);
	background-image: -o-linear-gradient(90deg , rgb(166,171,184) 0%, rgb(207,210,218) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(166,171,184) 0%, rgb(207,210,218) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(166,171,184) 0%, rgb(207,210,218) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(166,171,184) 0%, rgb(207,210,218) 100%);
	background-image: linear-gradient(90deg , rgb(166,171,184) 0%, rgb(207,210,218) 100%);
	color: #53576B;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
}

h3.toggable:hover {
	background-color: #C0C3CD;
	background-image: -o-linear-gradient(90deg , rgb(178,183,199) 0%, rgb(220,223,234) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(178,183,199) 0%, rgb(220,223,234) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(178,183,199) 0%, rgb(220,223,234) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(178,183,199) 0%, rgb(220,223,234) 100%);
	background-image: linear-gradient(90deg , rgb(178,183,199) 0%, rgb(220,223,234) 100%);
}

h3.toggable:active {
	background-color: #9296A5;
	-moz-box-shadow:inset 0px 0px 5px rgba(121,123,130,1);
	-webkit-box-shadow:inset 0px 0px 5px rgba(121,123,130,1);
	box-shadow:inset 0px 0px 5px rgba(121,123,130,1);
	background-image: -o-linear-gradient(90deg , rgb(207,210,218) 0%, rgb(166,171,184) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(207,210,218) 0%, rgb(166,171,184) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(207,210,218) 0%, rgb(166,171,184) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(207,210,218) 0%, rgb(166,171,184) 100%);
	background-image: linear-gradient(90deg , rgb(207,210,218) 0%, rgb(166,171,184) 100%);
	text-shadow: none;
}

h3 a {
	text-transform:none;
	font-weight:100;
}

h4 {
	color:#555;
	font-size:8pt;
	font-weight:700;
	padding:0;
	margin:10px 0 0 0;
}

h4.filename {
	font-weight:100;
	color:#BBB;	
	top:0;
	position:relative;
	margin: 2px 0 2px 2px;
}

h4.filename a {
	color:#9bd;
}

.block {
	padding:10px;
	border-bottom:2px solid white;
	font-size:8pt;
	background-color:#ddd;
}

.block_title {
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:7pt;
	letter-spacing:1px;
}

.block_title a {
	color:black;
	text-decoration:underline;
}


#buttons input, .block input {
	font-size:8pt;
}

.buttondiv {
	padding:1px;
}

.buttondiv input {
	height:18pt;
}

.cell_1 {
	width:23%;
	float:left;
}

.cell_2 {
	width:33%;
	float:left;	
	overflow:hidden;
	margin:1px;
}

.cell_3 {
	width:48%;
	float:left;
	padding:10px 10px 10px 0;
}

.chart_container {
	overflow:hidden;
	width:100%;
}

#chart {
}

#chart_div {
	overflow:auto;
	clear:both;
	height:800px;
}

#chart_title {
	height:50px;
	float:left;
}


#change_chart_div {		
	float:left;
	margin-left:10px;
}

#change_chart_button_div {
	background-color:#84C1FF;
	padding:10px;	
	margin-bottom:10px;
	margin-left:25px;
	float:left;
}


#chart_save_restore {
	background-color:#eee;
}

#clear_button {
	padding:10px;
	background-color:#059;
}

#date_range, #top_value {
	display:none;
}
.hoplang {
	background-color:#FFCABC;
}

.invalid {
	background-color:#FFFF80;
	
}

.light {
	font-weight:100;
}

span.number {
	
	/*font-family:"Lucida Console", Monaco, monospace;
	font-size: 14pt;*/
}
div.number {	
	padding: 7px 0 7px 0;
	display:inline;
}
	
/* tab pane */
.panes div {
	display:none;
	border:1px solid #666;
	border-width:0 1px 1px 1px;
	min-height:150px;
	padding:15px 20px;
	background-color:#ddd;	
}

.pie_container {
	min-height:300px;
}

.pig {
	background-color:#FFC;
}

div#range {
	float:left;
	padding-left:0px;
	margin-left:25px;
}


.selected {
	background-color:#FC3;
}

.submit_div {
	 background-color:#a00;
	 padding:10px 25px 10px 25px;
	 float:left;
	 text-align:center;
	 vertical-align:middle;
}

#submit_button, #submit_button_hoplang {
	width:100px;
}

#svg_link {
	background-color:#84C1FF;
	padding:10px;
}

#svg_link a {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:white;
}

#timer {
	width:100px;
	float:left;
	margin-left:50px;
	margin-top:0;
	padding-top:10px;
	font-family:sans-serif;
	font-size:150%;
	clear:right;
	vertical-align:middle;
}


	

/* timepicker addons */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


/*      tabs      */

.tab {
	width: 100%;
	margin-bottom: 30px;
	background-color: #DDD;
	vertical-align: top;
	font-size: small;
}

.feats {
	display: none;
	color: red;
	font-weight:bold;
}

/* root element for tabs  */
ul.tabs {  
	margin:0 !important; 
	padding:0;
	height:30px;
	border-bottom:1px solid #666;	 	
}

/* single tab */
ul.tabs li {  
	float:left;	 
	padding:0; 
	margin:0;  
	list-style-type:none;	
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	float:left;
	font-size:13px;
	display:block;
	padding:5px 30px;	
	text-decoration:none;
	border:1px solid #666;	
	border-bottom:0px;
	height:18px;
	background-color:#efefef;
	color:#777;
	margin-right:2px;
	position:relative;
	top:1px;	
	outline:0;
	-moz-border-radius:4px 4px 0 0;	
}

ul.tabs a:hover {
	background-color:#F7F7F7;
	color:#333;
}
	
/* selected tab */
ul.tabs a.current {
	background-color:#ddd;
	border-bottom:1px solid #ddd;	
	color:#000;	
	cursor:default;
}

.ui-widget {
	font-size:9px;
}

#wait_me {
	margin-left:255px;
	margin-top:25px;
}

.warning {	
	background-color:#EFEFE0;
	color:#D00;	
	padding: 7px 10px 5px 24px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	margin:0 0 10px 0;
	width: 300px;
	height: 50px;
	max-height:50px;
	display:inline-table;	
}

.warning:before {
	content:'•';
	font-size: 32px;
	line-height:10px;
	color:white;
	margin-left:-22px;
	padding:0;
	display:block;
	float:left;
	height:0;
	overflow:visible;
}

.warning .data {
	color:#444;
	font-size:80%;
	line-height:200%;	
	letter-spacing:2px;
}

div#messages {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 8pt;
	letter-spacing:0;
	line-height:11pt;
	overflow:hidden;
}

.cheb_message {
	background-color:#E6E7F2;
}


.lom_message {
	background-color:#D8E9F1;
}


.gra_message {
	background-color:#F4F3DF;
}